__pycache__

model_zoo/
superresolution/

results/

trainsets/trainH/*.png
trainsets/trainL/*.png
testsets/validH/*.png
testsets/validL/*.png
testsets/
trainsets/

trainsets/oxbuild5k/

testsets/urban100/
